// This File is just to style de ADMINUI of keystone

@link-color: #007E9F;
@app-primary: #007E9F;

.primary-navbar {
    background-image: linear-gradient(to bottom right, #005578, #007E9F);
}

.primary-navbar__item--active .primary-navbar__link {
    background-color: rgba(0, 0, 0, 0);
    font-weight: 600
}

button[type=submit] {
    background: linear-gradient(to bottom, #007E9F, #007E87);

    &:hover, &:active, &:focus {
    background: linear-gradient(to bottom, #00ABB7, #007E87);
    }
}