body {
	font-family: "Roboto", sans-serif;
}

#footer {
	margin-top: 30px;
	border-top: 1px solid #eeeeee;
	padding-top: 30px;
	color: #777777;
}

.gallery-image img {
	display: block;
	max-width: 100%;
	height: auto;
}

#dialogContent > div > div {
	height: 100%;
}